<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Time zone converter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
       <style>
         
        #dp{
            font-size: 22px;
            font-weight: bold;
        }
        #timezone{
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid steelblue;
            font-size: 18px;
            background-color: lightcyan;
        }
        #btn{
            font-size: 18px;
            padding: 7px;
            border-radius: 5px;
            background-color: steelblue;
            color: white;
        }
        
        form{
            border: 2px solid steelblue;
            padding: 30px;
            width: 50%;
            margin-left: 20%;
            border-radius: 8px;
            background-color: lightcyan;
        }
       </style>

    </head>
    <body>
        <h2>Name : Ruhi Malek | Id : 24DEV050</h2>
        
        <div class="f">
        <form method="post" action="/submit">
            <p id="dp">Time zone : <input type="text" id="timezone" name="timezone"></p>
            <input type="submit" id="btn" value="check">
        </form>
    </div>
    </body>
</html>